html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 30px;
  color: $default;
  @extend %rubik-500;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.content__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.breadcrubs {
  display: flex;
  justify-content: center;
  align-items: center;
  &__list {
    display: flex;
  }
  &__item {
    color: #737980;
    padding-right: 20px;
    position: relative;
    &::after {
      content:"/";
      position: absolute;
      right: 5px;
      top: 0;
      font-size: 14px;
    }
    &:last-child {
      padding-right: 0;
      &::after {
        display: none;
      }
    }
  }
  &__link {
    @extend %rubik-400;
    color: inherit;
    font-size: 14px;
    line-height: 24px;
  }
}
.pagination {
    display: flex;
    justify-content: center;
    &__inner {    
      padding-top: 90px;
      display: -webkit-inline-box;
      a, span{
      padding: 16px 20px;
      @extend %rubik-400;
      color: $default;
      border: 1px solid $info;
      background-color: transparent;
      transition: all .4s;
      cursor: pointer;
      &:hover {
        background-color: $info;
        color: #fff;
      }
    }
  }
   &__list {
     display: flex;
   }
   &__item + .pagination__item {
     margin-left: 16px;
   }
   .pagination__link--active {
     background-color: $info;
     color: #fff;
     cursor: default;
   }
   &__next {
     margin-left: 16px;
   }
  }

  .btn {
    @extend %rubik-400;
    border: none;
    padding: 11px 55px;
    font-size: 15px;
    line-height: 30px;
    background-color: $info;
    color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
  }
   .slider-top__link-btn {
    color: #fff;
    padding: 18px 96px 18px 24px;
    background-color: #a3bbc8;
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/shape.svg");
      background-repeat: no-repeat;
      width: 22px;
      height: 9px;
      top: 25px;
      right: 15px;
    }
  }