@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__inner {
    height: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__img {
    position: relative;
    padding-left: 65px;
    color: #436372;
    font-size: 36px;
    line-height: 58px;
  }
  &__img::before {
    content: "";
    position: absolute;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    width: 55px;
    height: 40px;
    top: 9px;
    left: 0;
  }
}

.menu {
  &__list {
    display: flex;
    margin-left: 148px;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    transition: all 0.4s;
    &:hover {
      border-bottom: 1px solid #436372;
    }
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link-seach {
    padding: 20px;
    border-radius: 50%;
    background-color: #edf1f4;
  }
  &__link-heart {
    padding: 20px 30px 13px 30px;
    margin-left: 16px;
    border-radius: 50px 0 0 50px;
    background-color: #fcd7b6;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      height: 32px;
      border-right: 1px solid #fde7d3;
      top: 11px;
      right: 0;
    }
  }
  &__link-cart {
    padding: 20px 30px 13px 30px;
    margin-right: 16px;
    border-radius: 0 50px 50px 0;
    background-color: #fcd7b6;
  }
  &__link-list {
    padding: 17px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }
  &__num {
    @extend %dmsans-400;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: 12px;
    right: 20px;
    font-size: 10px;
    color: $default;
    text-align: center;
    line-height: 15px;
  }
}
.footer {
  padding: 0;
  & a {
    color: $footer;
  }
}
.footer-top {
  padding: 80px 0 74px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__contact {
    width: 219px;
  }
  &__nav {
    width: 130px;
  }
  &__item-form {
    max-width: 284px;
  }
  &__logo {
    margin-bottom: 20px;
    display: block;
    @extend %rubik-500;
  }
  &__adress {
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 9px;
    @extend %rubik-400;
  }
  &__phone,
  &__email {
    display: block;
    font-size: 14px;
    @extend %rubik-400;
  }
  &__title {
    margin-bottom: 25px;
    padding-top: 22px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
  }
  &__link {
    font-size: 14px;
    line-height: 32px;
    @extend %rubik-400;
  }
  &__text {
    color: $footer;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 36px;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    @extend %dmsans-400;
    padding: 4px 6px 3px 10px;
    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn {
    border: none;
    @extend %dmsans-400;
    background-color: #a3bbc8;
    color: #fff;
    padding: 4px 11px 3px;
    margin-left: -4px;
    font-size: 14px;
    width: 100px;
    cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  @extend %rubik-400;
  color: $footer;
  font-size: 14px;
  line-height: 32px;
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 10px;
  }
  &__list-item + .footer-bottom__list-item {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 14px;
      border-right: 1px solid $footer;
      top: 19px;
      left: 0;
    }
  }
}

.slider-top {
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 210px;
  max-width: 1770px;
  min-height: 822px;
  background-color: #fcd7b6;
  margin: 0 auto;
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__title {
    @extend %rubik-500;
    max-width: 440px;
    margin-bottom: 30px;
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;
  }
  &__text {
    width: 374px;
    @extend %rubik-400;
    font-size: 18px;
    color: $accent;
    margin-bottom: 36px;
  }
  &__link-btn {
    color: #fff;
    padding: 18px 96px 18px 24px;
    background-color: #a3bbc8;
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/shape.svg");
      background-repeat: no-repeat;
      width: 22px;
      height: 9px;
      top: 25px;
      right: 15px;
    }
  }
  &__img {
    padding-top: 42px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    @extend %rubik-500;
    padding-top: 200px;
    li {
      button {
        padding: 0;
        border: none;
        color: #667983;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        margin: 0 5px;
        font-size: 11px;
        background-color: #fde3cc;
      }
      &.slick-active {
        button {
          color: $default;
          background-color: #fff;
        }
      }
    }
  }
}

.features {
  background-color: $bg;
  &__inner {
    height: 170px;
    display: flex;
  }
  &__items {
    width: 590px;
    height: 100%;
    padding-left: 80px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 55px;
      height: 55px;
      left: 154px;
      top: 56px;
    }
    &-support::before {
      background-image: url(../images/icons/support.png);
      background-repeat: no-repeat;
    }
    &-delivery::before {
      background-image: url(../images/icons/delivery.png);
      background-repeat: no-repeat;
    }
    &-credit::before {
      background-image: url(../images/icons/Ellipse.png);
      background-repeat: no-repeat;
    }
  }
  &__items + .features__items {
    border-left: 1px solid #e8e4df;
  }
  &__item {
    width: 226px;
    margin: 0 auto;
    padding-top: 44px;
  }
  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__item-text {
    @extend %dmsans-400;
    color: $text;
  }
}

.products { 
  padding-top: 72px;
  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    margin-bottom: 35px;
  }
  &__filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  &__btn {
    margin: 0 14px 35px;
    @extend %dmsans-700;
    color: #8b8b8b;
    cursor: pointer;
    &:hover {
      color: $title;
    }
  }
  .mixitup-control-active {
    color: $title;
  }
}
.products__content {
  text-align: center;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 40px;
  &-item {
    height: 380px;
    width: 277px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .products__content-item-links__box {
        transition: all 0.3s;
        transform: translateY(0);
      }
    }
  }
  &-item-links__box {
    position: absolute;
    bottom: 144px;
    max-width: 277px;
    left: 0;
    right: 0;
    transform: translateY(500%);
  }
  &-item__link {
    padding: 12px;
    display: inline-flex;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
    path {
      transition: all 0.3s;
    }
  }
  &-item__link + .products__content-item__link {
    margin-left: 16px;
  }
  &-item__link:hover {
    path {
      fill: #fff;
    }
    background-color: #a3bbc8;
  }
  &-item__imginner {
    min-height: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-img {
    object-fit: cover;
  }
  &-item__title {
    font-size: 16px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &-item__num {
    color: $info;
  }
}

.more {
  vertical-align: middle;
  padding-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  &__item-inner {
    height: 394px;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item {
    width: 600px;
    padding-left: 283px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 420px;
      top: 0px;
      left: 17px;
    }
    &-bra::before {
      background-image: url(../images/products-catalog/bra.png);
      background-repeat: no-repeat;
      top: -215px;
    }
    &-bra__led::before {
      background-image: url(../images/products-catalog/bra-led.png);
      background-repeat: no-repeat;
      top: -190px;
    }
  }
  &__item-title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  &__item-text {
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__item-link__button {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    padding: 18px 75px 18px 13px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/str-button.svg);
      background-repeat: no-repeat;
      width: 26px;
      height: 9px;
      top: 25px;
      right: 15px;
    }
  }
}

.design {
  padding-top: 20px;
  &__btn {
    margin: 0 14px 35px;
    @extend %dmsans-700;
    color: #8b8b8b;
    cursor: pointer;
    &:hover {
      color: $title;
    }
  }
  .mixitup-control-active {
    color: $title;
  }
  &__video {
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 504px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.content {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 34px;
    @extend %dmsans-700;
    margin-bottom: 120px;
  }
  &__item-link {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 250px;
  }
  &__item {
    padding: 34px;
  }
  &__item-title {
    width: 175px;
    font-size: 20px;
    color: $title;
  }
  &__item-subtitle {
    color: $info;
  }
}

.news {
  padding-top: 115px;
  background-repeat: no-repeat;
  background-position: bottom;

  .news-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  &__link-btn {
    @extend %dmsans-700;
    color: #262626;
    font-size: 16px;
    padding-right: 26px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      height: 11px;
      width: 6px;
      background-image: url("../images/icons/right-btn.svg");
      right: 0;
      top: 30%;
    }
  }
  &__block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
  }
  &__items-img {
    object-fit: cover;
  }
  &__items {
    height: 420px;
    max-width: 370px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    border-radius: 5px;
    background-color: #fff;
    position: relative;
   }
   &__link-box {
     position: absolute;
     padding: 0 31px;
     background-color: $info;
     top: 56%;
     left: 30px;
     border-radius: 21px;
   }
   &__box-btn {
     @extend %dmsans-700;
     color: #fff;
     font-size: 14px;
     line-height: 20px;
     text-transform: uppercase;
   }
    &__block-text {
      padding: 32px 0 0 28px;
      max-width: 343px;
    }
    &__block-title {
      height: 80px;
      @extend %dmsans-500;
      font-size: 18px;
      line-height: 22px;
      color: #262626;
      padding: 0 3px 0; 
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 10px;
    }
    &__text {
     font-size: 12px;
     line-height: 30px;
     padding-left: 3px;
     @extend %dmsans-400;
     color: #222933;
     text-transform: uppercase;
    }
    &__text + .news-top__text {
      margin-left: 26px;
    }
  }
  .partners {
    &__inner{
    height: 265px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
  }
}


@import "media";
