@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  &__inner{
    height: 145px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  &__img {
    position: relative;
    padding-left: 65px;
    color: #436372;
    font-size: 36px;
    line-height: 58px;
  }
  &__img::before {
    content: "";
    position: absolute;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    width: 55px;
    height: 40px;
    top: 9px;
    left: 0;
  }
}

.menu {
  &__list {
    display: flex;
  }
  &__list-item + .menu__list-item {
    margin-left: 30px;
  }
  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    transition: all 0.4s;
    &:hover {
      border-bottom: 1px solid #436372;
    }
  }
}

.user-nav {
  display: flex;
  &__link {
    position: relative;
  }
  &__link-seach {
    padding: 20px;
    border-radius: 50%;
    background-color: #edf1f4;
  }
  &__link-heart {
    padding: 20px 30px 13px 30px;
    margin-left: 16px;
    border-radius: 50px 0 0 50px;
    background-color: #fcd7b6;
    position: relative;
    
    &::before {
      content:"";
      position: absolute;
      height: 32px;
      border-right: 1px solid #fde7d3;
      top: 11px;
      right: 0;
    }
  }
  &__link-cart {
    padding: 20px 30px 13px 30px;
    margin-right: 16px;
    border-radius: 0 50px 50px 0;
    background-color: #fcd7b6;
    
  }
  &__link-list {
    padding: 17px;
    border-radius: 50%;
    background-color: #a3bbc8;
  }
  &__num {
    @extend %dmsans-400;
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: 12px;
    right: 20px;
    font-size: 10px;
    color: $default;
    text-align: center;
    line-height: 15px;
  }
}
.footer{
  padding: 0;
  & a{
    color: $footer;
  }
}
.footer-top {
  padding: 80px 0 74px;
  border-bottom: 1px solid #dae4e9;
  display: flex;
  justify-content: space-between;
  &__contact {
    width: 219px;
  }
  &__nav {
    width: 130px;
  }
  &__item-form {
    max-width: 284px;
  }
  &__logo {
    margin-bottom: 20px;
    display: block;
    @extend %rubik-500;
  }
  &__adress{
    display: block;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 9px;
     @extend %rubik-400;
  }
  &__phone,
  &__email {
    display: block;
    font-size: 14px;
     @extend %rubik-400;
  }
  &__title {
    margin-bottom: 25px;
    padding-top: 22px;
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: #1f2044;
  }
  &__link {
    font-size: 14px;
    line-height: 32px;
     @extend %rubik-400;
  }
  &__text {
    color: $footer;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 36px;
  }
  &__form-input {
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    @extend %dmsans-400;
    padding: 4px 6px 3px 10px;
    &::placeholder{
      color: #234969;
      font-size: 12px;
    }
  }
  &__form-btn {
   border: none;
   @extend %dmsans-400;
   background-color: #a3bbc8;
   color: #fff;
   padding: 4px 11px 3px;
   margin-left: -4px;
   font-size: 14px;
   width: 100px;
   cursor: pointer;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  @extend %rubik-400;
  color: $footer;
  font-size: 14px;
  line-height: 32px;
  &__copy {

  }
  &__list {
    display: flex;
  }
  &__list-item {
    padding: 10px;
  }
  &__list-item + .footer-bottom__list-item {
    position: relative;
    &::before {
      content:"";
      position: absolute;
      height: 14px;
      border-right: 1px solid $footer;
      top: 19px;
      left: 0;
    }
  }
}

.slider-top {
  background-image: url('../images/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 210px;
  max-width: 1770px;
  min-height: 822px;
  background-color: #fcd7b6; 
  margin: 0 auto;
  &__item {
    display: flex !important;
    justify-content: space-between;
  }
  &__title {
    @extend %rubik-500;
    max-width: 440px;
    margin-bottom: 30px;
    font-size: 72px;
    line-height: 70px;
    text-transform: uppercase;;
  }
  &__text {
    width: 374px;
    @extend %rubik-400;
    font-size: 18px;
    color: $accent;
    margin-bottom: 36px;
  }
  &__link-btn {
    color: #fff;
    padding: 18px 96px 18px 24px;
    background-color: #a3bbc8;
    position: relative;
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icons/shape.svg');
      background-repeat: no-repeat;
      width: 22px;
      height: 9px;
      top: 25px;
      right: 15px;
    }
  }
  &__img {
    padding-top: 42px;
  }
  .slick-dots {
    display: flex;
    justify-content: center;
    @extend %rubik-500;
    padding-top: 200px;
    li{
      button {
        padding: 0;
        border: none;
        color: #667983;
        width: 29px;
        height: 29px;
        border-radius: 50%;
        margin: 0 5px;
        font-size: 11px;
        background-color: #fde3cc;
      } 
      &.slick-active {
        button {
          color: $default;
          background-color: #fff;
        }
      }
    }
  }
}

.features {
  background-color: $bg;
  &__inner{
    height: 170px;
    display: flex;
  }
  &__items{
  width: 590px;
  height: 100%;
  padding-left: 80px;
  position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 55px;
      height: 55px;
      left: 154px;
      top: 56px;}
      &-support::before{
        background-image: url(../images/icons/support.png);
        background-repeat: no-repeat;
      }
      &-delivery::before{
        background-image: url(../images/icons/delivery.png);
        background-repeat: no-repeat;
      }
      &-credit::before{
        background-image: url(../images/icons/Ellipse.png);
        background-repeat: no-repeat;
      }
  }
  &__items + .features__items{
    border-left: 1px solid #e8e4df;
  }
  &__item {
    width: 226px;
    margin: 0 auto;
    padding-top: 44px;
  }
  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__item-text {
    @extend %dmsans-400;
    color: $text;
  }
}







@import 'media';


