.shop {
  padding: 120px 0 50px;
  &__inner {
    display: flex;
  }
  &__filters {
    margin-right: 30px;
  }
  &__filter-btn {
    display: none;
  }
  &__add-cart {
    position: absolute;
    display: none;
    width: 118px;
    height: 50px;
    border: none;
    // @extend %btn;
  }
}

.filter {
  &__item {
    width: 270px;
    margin-bottom: 50px;
  }
  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    position: relative;
    padding-right: 50px;
    display: inline-flex;
    margin-bottom: 24px;
    text-transform: uppercase;
    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/icons/line.png");
      width: 39px;
      height: 3px;
      right: 0;
      top: 44%;
    }
  }
}

.filter-category {
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: $bg-page;
      border-radius: 5px;
    }
  }
  &__checkbox {
    background-color: transparent;
    padding: 5px 23px 5px 14px;
    display: flex;
    justify-content: space-between;
  }
}

.label {
  background-color: transparent;
  cursor: pointer;
  @extend %rubik-400;
  font-size: 16px;
  display: block;
}

.irs--flat .irs-bar {
  top: 5px;
  height: 4px;
  background-color: $info;
}
.irs--flat .irs-line {
  top: 6px;
  height: 2px;
  background-color: #c2d2db;
  border-radius: 0;
}
.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs--flat .irs-handle {
  top: 0px;
  width: 16px;
  height: 14px;
  background-color: $info;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat {
  height: 21px;
}
.filter-price__fromto {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 43px;
  @extend %rubik-400;
}

.filter-brand {
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-brand__checkbox {
      background-color: $bg-page;
      border-radius: 5px;
    }
  }
  &__checkbox {
    background-color: transparent;
    padding: 5px 23px 5px 14px;
    display: flex;
    justify-content: space-between;
  }
}

.filter-recent {
  @extend %rubik-400;
  &__inner {
    display: flex;
    align-items: center;
    margin-bottom: 22px;
    height: 70px;
  }
  &__item-content {
    margin-left: 15px;
  }
  &__item-title {
    font-size: 14px;
    line-height: 16px;
    color: #333333;
  }
  &__price {
    display: block;
    font-size: 15px;
    margin-top: 4px;
    color: #333333;
  }
}

.star {
  padding: 0;
}

.shop-content {
  width: 100%;
  padding-bottom: 70px;
  @extend %rubik-400;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 40px;
    text-align: center;
  }
  &__item-inner {
    display: flex;
    align-items: center;
  }
  &__item-inner + .shop-content__item-inner {
    margin-top: 40px;
  }
  &__img-inner {
    width: 370px;
    height: 500px;
    background-color: #fefefe;
    border: 2px solid #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    object-fit: cover;
  }
  &__info-items {
    max-width: 420px;
    margin-left: 50px;
    height: 500px;
    padding-top: 90px;
  }
  &__info-title {
    font-size: 40px;
    line-height: 26px;
    color: #333333;
    @extend %rubik-400;
  }
  &__item-num {
    font-size: 30px;
    line-height: 45px;
    color: #333333;
    margin-bottom: 18px;
    @extend %rubik-400;
  }
  &__star {
    padding: 22px 0 30px 0;
  }
  &__text {
    margin-bottom: 36px;
    max-width: 420px;
    @extend %rubik-400;
  }

  &__links + .shop-content__links {
    margin-left: 12px;
  }
  &__links {
    display: inline-block;
    padding: 13px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    width: 50px;
    height: 50px;
  }
  &__links:hover {
    path {
      fill: #fff;
    }
    background-color: #a3bbc8;
  }
  &__links--active {
    path {
      fill: #fff;
    }
    background-color: #a3bbc8;
  }
  .pagination2 {
    .pagination__link--active {
      background-color: $info;
      color: #fff;
      cursor: default;
    }
  }
}

@media (max-width: 1200px) {
  .shop {
    padding: 80px 0 23px;
    &__filters {
    display: none;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    width: 100%;
    left: 0;
    top: 20px;
    }
    &__filter-btn {
      display: block;
      width: 50px;
      height: 50px;
      border: none;
      background-color: $bg-page;
      padding: 0;
      padding-top: 12px;
      position: fixed;
      right: 15px;
      z-index: 101;
      top: 350px;
      path {
        fill: #243f4d;
      }
    }
  .filter__item {
    padding: 0 15px;
  }
 }
}

@media (max-width: 900px) {
  .shop-content{
    &__inner {
      grid-template-columns: repeat(2, 1fr);
        grid-gap: 25px 30px;
      }
    .products__content-img {
      max-width: 83%;
    }
  }
}

@media (max-width: 790px) {
  .shop-content{
    padding-bottom: 68px;
    &__inner {
        grid-gap: 25px 30px;
      }
    &__item-inner {
      display: block;
    }
    &__img-inner {
      width: 100%;
    }
    &__info-items {
      margin: 0;
      max-width: 100%;
      padding: 55px 0 0 15px;
      height: 450px;
    }
    &__text {
      max-width: 100%;
    }
    .pagination2 {
      padding-left: 15px;
      .pagination__inner {
        padding-top: 46px;
      }
    }
  }
}

@media (max-width: 583px) {
  .shop-content{
    padding-top: 30px;
    &__inner {
      grid-template-columns: repeat(1, 1fr);
        grid-gap: 25px 30px;
      }
    .products__content-img {
      max-width: 100%;
    }
  }
}

@media (max-width: 400px) {
  .shop-content{
    &__img {
      max-width: 88%;
    }
  }
}