<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>start html</title>
  <link rel="stylesheet" href="css/shop-list1.min.css">
</head>

<body>
{% include 'app/module/_header/_header.html' %}

  <main class="main">
   {% include 'app/module/_tops/_tops.html' %}
   {% include 'app/module/_shop-list1/_shop-list1.html' %}
   {% include 'app/module/_partners/_partners.html' %}
  </main>

  {% include 'app/module/_footer/_footer.html' %}
  
  <script src="js/main.min.js"></script>
</body>

</html>