
.features {
  background-color: $bg;
  &__inner {
    min-height: 170px;
    display: flex;
  }
  &__items {
    width: 590px;
    min-height: 100%;
  }
  &__items + .features__items {
    border-left: 1px solid #e8e4df;
  }
  &__item {
    width: 293px;
    margin: 0 auto;
    padding-top: 44px;
    height: 100%;
    padding-left: 80px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 55px;
      height: 55px;
      left: 0px;
      top: 56px;
      background-repeat: no-repeat;
    }
    &-support::before {
      background-image: url(../images/icons/support.png);
    }
    &-delivery::before {
      background-image: url(../images/icons/delivery.png);
    }
    &-credit::before {
      background-image: url(../images/icons/Ellipse.png);
    }
  }
  &__item-title {
    @extend %dmsans-700;
    font-size: 18px;
    line-height: 40px;
    color: #414141;
  }
  &__item-text {
    @extend %dmsans-400;
    color: $text;
  }
}

@media (max-width: 1024px) {
  .features {
    &__inner{
      display: block;
    }
    &__items {
    width: 100%;
    height: 100%;
    }
    &__item {
    padding-top: 36px;
    }
     &__items:last-child {
    padding-bottom: 20px;
    }
    &__items + .features__items {
    border-left: none;
   }
  }
}