.filter-category {
  &__input {
    @extend %checkbox-hidden;
    &:checked + .filter-category__checkbox {
      background-color: $bg-page;
      border-radius: 5px;
    }
  }
  &__checkbox {
    background-color: transparent;
    padding: 5px 23px 5px 14px;
    display: flex;
    justify-content: space-between;
  }
}
.label {
  background-color: transparent;
  cursor: pointer;
  @extend %rubik-400;
  font-size: 16px;
  display: block;
}