.contact {
  padding-top: 115px;
  &__top {
    text-align: center;
    @extend %dmsans-700;
  }
  &__prevtitle {
    line-height: 20px;
    font-size: 16px;
    color: $info;
    margin-bottom: 10px;
  }
  &__title {
    font-size: 35px;
    line-height: 37px;
    color: $login;
    margin-bottom: 65px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 370px;
    // min-height: 380px;
    background-color: #fbfbfb;
    text-align: center;
    border: 2px solid transparent;
    transition: all 0.3s;
    margin-bottom: 122px;
    // cursor: pointer;
    &:hover {
      border: 2px solid $info;
      .contact__img {
        background-color: #a3bbc8;
        path {
          fill: #ffffff;
        }
      }
    }
  }
  &__img {
    display: block;
    margin: 70px auto 60px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 20px;
    transition: all 0.3s;
    svg {
      transform: translateY(50%);
    }
  }
  &__item-title {
    display: block;
    @extend %dmsans-700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #222;
  }
  &__info {
    display: block;
    @extend %rubik-400;
    color: #565872;
    margin-bottom: 3px;
    &:last-child {
       margin-bottom: 65px;
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
  }
  &__form {
    max-width: 621px; 
    width: 100%;
    margin-right: 50px;
  }
  &__input-name,
  &__input-mail {
    @extend %rubik-400;
    width: 300px;
    margin-bottom: 25px;
    padding: 12px 55px 12px 20px;
    border: none;
    background-color: #fafafa;
    text-transform: uppercase;
     &::placeholder {
      color: #565872;
    }
  }
  &__input-name {
    margin-right: 17px;
    background-image: url("../images/icons/contact-user.svg");
    background-repeat: no-repeat;
    background-position: 91% center;
  }
  &__input-mail {
    background-image: url("../images/icons/contact-mail.svg");
    background-repeat: no-repeat;
    background-position: 91% center;
  }
  &__texarea {
    @extend %rubik-400;
    text-transform: uppercase;
    border: none;
    background-color: #fafafa;
    max-width: 623px;
    width: 100%;
    padding: 10px 55px 10px 20px;
    height: 175px;
    resize: none;
    background-image: url("../images/icons/contact-list.svg");
    background-repeat: no-repeat;
    background-position: 95% 10%;
    margin-bottom: 23px;
     &::placeholder {
      color: #565872;
    }
  }
  &__btn {
    padding: 11px 40px;
  }
  &__title-new {
    color: $login;
  }
}
#map {
  width: 500px;
  height: 335px;
}


@media (max-width: 1200px) {
  .contact {
    &__item {
      width: 323px;
    }
    &__content {
      display: block;
    }
    &__input-name, 
    &__input-mail {
      margin-right: 0;
      width: 49%;
    }
    &__input-mail {
      width: 50%;
    }
    &__form {
      max-width: 100%;
      margin-right: 0;
    }
    &__texarea {
      max-width: 100%;
    }
    &__btn {
      margin-bottom: 70px;
    }
    #map {
      width: 100%;
      height: 500px;
    }
  }
}

@media (max-width: 1024px) {
  .contact {
    &__item {
      width: 284px;
    }
    
  }
}

@media (max-width: 900px) {
  .contact {
    padding-top: 90px;
    &__info {
    font-size: 14px;
    }
    &__img {
      margin: 44px auto 44px;
    }
    &__info:last-child {
      margin-bottom: 36px;
    }
    &__form {
      margin-top: 60px;
    }
    &__item {
      width: 246px;
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 790px) {
  .contact {
    padding-top: 70px;
    &__inner {
     display: block;
    }
    &__img {
    margin: 44px 24px 44px 15px;
    float: left;
    }
    &__item {
      width: 100%;
      margin-bottom: 30px;
    }
    &__item-title {
      margin-top: 31px;
      text-align: start;
    }
    &__info {
      text-align: start;
      padding-right: 2px;
    }
  }
}

@media (max-width: 583px) {
  .contact {
    &__input-name, 
    &__input-mail {
      width: 100%;
      background-position: 95% center;
    }
  }
}

@media (max-width: 400px) {
  .contact {
    &__img {
    margin: 44px 19px 44px 15px;
    float: left;
    }
  }
}