
.products {
  padding-top: 72px;
  &__title {
    text-align: center;
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    margin-bottom: 35px;
  }
  &__filter-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  &__btn {
    margin: 0 14px 35px;
    @extend %dmsans-700;
    color: #8b8b8b;
    cursor: pointer;
    &:hover {
      color: $title;
    }
  }
  .mixitup-control-active {
    color: $title;
  }
}

.products__content {
  text-align: center;
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 40px;
  &-item {
    height: 380px;
    width: 100%;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &:hover {
      .products__content-item-links__box {
        transition: all 0.3s;
        transform: translateY(0);
      }
    }
  }
  &-item-links__box {
    position: absolute;
    bottom: 144px;
    max-width: 277px;
    left: 0;
    right: 0;
    transform: translateY(500%);
  }
  &-item__link {
    padding: 12px;
    display: inline-flex;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s;
    path {
      transition: all 0.3s;
    }
  }
  &-item__link + .products__content-item__link {
    margin-left: 16px;
  }
  &-item__link:hover {
    path {
      fill: #fff;
    }
    background-color: #a3bbc8;
  }
  &-item__imginner {
    min-height: 288px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-img {
    object-fit: cover;
  }
  &-item__title {
    font-size: 16px;
    line-height: 40px;
    @extend %dmsans-700;
  }
  &-item__num {
    color: $info;
  }
}
.more {
  vertical-align: middle;
  padding-top: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  &__item-inner {
    height: 394px;
    background-color: #feefe2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__item {
    width: 600px;
    padding-left: 283px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 250px;
      height: 420px;
      top: 0px;
      left: 17px;
    }
    &-bra::before {
      background-image: url(../images/products-catalog/bra.png);
      background-repeat: no-repeat;
      top: -215px;
    }
    &-bra__led::before {
      background-image: url(../images/products-catalog/bra-led.png);
      background-repeat: no-repeat;
      top: -190px;
      left: -15px;
    }
  }
  &__item-title {
    @extend %dmsans-700;
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 12px;
  }
  &__item-text {
    @extend %rubik-400;
    margin-bottom: 30px;
  }
  &__item-link__button {
    @extend %rubik-500;
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    padding: 18px 75px 18px 13px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background-image: url(../images/icons/str-button.svg);
      background-repeat: no-repeat;
      width: 26px;
      height: 9px;
      top: 25px;
      right: 15px;
    }
  }
}


@media (max-width: 1300px) {
  .more {
    display: block;
    padding-top: 100px;
    &__item-inner {
      margin-top: 130px;
    }
  }
}

@media (max-width: 1200px) {
  .products__content {
    grid-template-columns: repeat(3, 1fr);
  }

  .products__content-item-links__box { 
    margin: 0 auto;
  }
}

@media (max-width: 920px) {
  .products__content {
   grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 583px) {
  .products__content {
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;
  }
}

@media (max-width: 790px) {
  .more {
     display: block;
     padding-top: 100px;
      &__item-inner {
        margin-top: 130px;
    }
    &__item {
    padding: 0 15px;
      &::before {
        display: none;
      }
    }
    &__item-inner {
      margin-top: 30px;
    }
  }
}

@media (max-width: 400px) { 
  .products {
    &__filter-btn {
      flex-wrap: wrap;
    }
    &__btn {
      margin-bottom: 6px;
    }
  }
  .more {
    &__item-text {
      font-size: 14px;
    }
  }
}